<div>
    <h1 id="amount">1</h1>
    <div id="scroller"></div>

    <h1 id="monthly">a</h1>
    <div id="scroller2"></div>
    <scroller [data]="[200, 300, 400]"></scroller>
    <!-- <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button>Submit Value</button>
    </form>

    <pre>this.localState = {{ localState | json }}</pre>

  </div> -->



</div>
